<br/><br/><br/><br/><br/>
<div class="container-fluid">
   <div style="color: dimgrey;">
      <div class="row">
         <div class="col-xs-12 text-center">
            <h5><b>Loan Amount</b> : {{ mainCtrl.loanAmount }}</h5>
            <h5><b>Loan Tenure</b> : {{ mainCtrl.loanTenure }}</h5>
            <h5><b>Interest Per Month</b> : {{ mainCtrl.interest }}</h5>
         <div class="col-xs-12" style="display: flex;justify-content: center;margin: 10px 0px;">
            <a ng-href="#/loans" class="btn btn-default btn-custom" style="display: inline-block;">Back</a>
         </div>
      </div>
   </div>
</div>